*{margin:0; padding:0}
body{
    padding: 10px 30px; 
    font-family: Helvetica;
}
.dl{
    padding: 20px;
    text-align:center;
margin-bottom: 20px;
}
.dl img{
    opacity: .6;
}
.dl img:hover{
    opacity: 1;
}
a{color: #037;}

input{
    border: 1px solid #339;
    padding: 3px;
    font:bold 12px sans-serif;
  width: 90px;
}
h1{color: #222;}
h3{color: #444;}
h4{color:#666;}
hr{color: #888; box-shadow: 1px 1px 8px 1px #999; margin-top: 5px;margin-bottom: 5px;}
pre{
    background: #f9f9f9;
    border: 1px solid #aaa;
    padding: 10px;
    margin: 10px;
}